* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 64px;
}

.header__nav-list {
	display: flex;
	gap: 40px;
}

.container {
    max-width: 1112px;
    margin: 89px auto 126px auto; 
}

.header__nav-item a {
	color: #5e607a;
}

.main__aside {
    background-color: #00001a;
    padding: 32px 24px;
}

.main__content {
	display: grid;
	grid-template-columns: 750px 1fr;
    gap:32px;
}

h1 {
    font-weight: 800;
    font-size: 56px;
    line-height: 100%;
    color: #00001a;
}

.main__body-content {
	display: flex;
	gap: 32px;
    margin-top: 24px;
}

.main__body-text p {
	font-weight: 400;
	font-size: 15px;
	line-height: 173%;
	color: #5e607a;
}